@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.header {
    background-color: #45D5AA;
    color: black;
    overflow: auto;
    border-bottom: 3px solid #066F4F; 
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 20px;
}

.header h2{
    padding-top: 10px;
}

.main {
    overflow: auto;
    align-items: center;
}

.container {
    width: 80%;
    margin: auto;
}

.navbar {
    list-style: none;
    float: right;
}

.navbar a {
    text-decoration: none;
}

.titulo {
    margin: 0;
    float: left;
    padding-top: 5px;
}

.navbar li {
    float: left;
    margin-left: 13px;
    text-transform: uppercase;
}

.destaque {
    color: black;
}

.box-item {
    text-align: center;
    margin: 50px auto;
}

.box-item h2 {
    font-size: 15px;
}

.table {
    width: 50%;
    border-collapse: collapse;
    margin: 30px auto;
}

.table tr {
    border: 1px solid #ddd;
    padding: 8px;
}

.table td {
    padding: 15px 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.table th {
    padding: 15px 0;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 1px solid #ddd;
    background-color: #000000;
}

.critical {
    background-color: #aa2222;
}

.danger {
    background-color: #FF3445;
}

.attention {
    background-color: #F0C419;
}

.stable {
    background-color: #00DF76;
}

.container-graphic {
    width: 50%;
    margin: auto;
    float: left;
}

.container-graphic h1 {
    margin: 0;
}

.grafico {
    width: 90%;
    margin: auto;
}

.saiba-mais button{
    border : 0;
    background-color: #066F4F;
    color: white;
    text-transform: uppercase;
    padding: 1vh 3vh;
    margin: auto;
    cursor: pointer;
    border-radius: 25px;
    display: flex;
}
.saiba-mais {
    background-color: #000000;
    height: 100px;
    width: 100%;
    display: flex;
    bottom: 0;
}

